body {
    margin: 0;
    background-color: white;

} 
 
 
 
 
 #group {
    margin: 10px;
    margin-bottom: ;
    display: inline-block;
     width: 1500px;
     height: 700px;
     background-color: white;
 }

 #stolb {
     width: calc(100% / 5 - 2px);
     height: calc(100% - 100px);
     color: tomato;
     background-color: tomato;
     display: inline-block;
     margin: 5px;
 }


 #stolb3 {
    width: calc(100% / 5 - 2px);
    height: calc(100% - 100px);
    color:  rgb(223, 223, 59);
    background-color: rgb(223, 223, 59);
    display: inline-block;
    margin: 5px;
 }

 #stolb2 {
    width: calc(100% / 5 - 2px);
    height: calc(100% - 100px);
    color: green;
    background-color: green;
    display: inline-block;
    margin: 5px;
 }

#smsq {
    width: calc(100% / 6 - 2px);
    height: calc(100% - 550px);
    color: brown;
    background-color: brown;
    margin: 30px;
}

#bgsq {
    width: calc(100% / 3 - 2px);
    height: calc(100% - 500px);
    color: brown;
    background-color: brown;
    margin: 30px;
}

#pr {
    width: calc(100% / 1.5 - 2px);
    height: calc(100% - 500px);
    color: brown;
    background-color: brown;
    margin: 30px;
}