*{
    margin: 0;
    padding: 0;
}
body {

    background: gray;
}
.box {
    background: brown;
    color: wheat;
    font-size: 20px;
    font-family: sans-serif;
    width: 300px;
    min-height: 150px;
    overflow: auto;
    /*
    vh - viewport height
    vw - viewport width
    overflow: hidden; visible scroll
    */
    border-width: 10px;
    border-color: #ff0;
    border-style: solid ;/*dotted dashed solid double none*/
    border: 5px solid;
    border-right-width: 10px;
    border-right-color: #0f0 ;
    text-align: justify;
    line-height: 1;
    padding: 20px 50px;
    margin: 20px 40px 70px 20px;
    display: inline-block; /* block inline*/


}